{% extends "socialapp/base.html" %}
{% block title %}Edit Profile{% endblock %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p></p>
            <h2 class="">Edit Profile</h2>
            <p></p>
            <form class="form" method="post" enctype="multipart/form-data" style="max-width: 500px;">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Save Changes</button>
                <a href="{% url 'home_page_posts' %}" class="btn btn-dark">Cancel</a>
            </form>
            <p></p>
        </div>
    </div>
</div>

{% endblock %}